<%- contentFor('head') %>
<meta name="description" content="<%= description %>">
<meta name="Keywords" content="<%= keywords %>">

<title><%= title %></title>

<%- contentFor('header') %>

<%- contentFor('body') %>

<section class="page-profile">
    <p>Hello Param <%= message %></p>
    <p>Hello Param <%= message2 %></p>
</section>

<%- contentFor('footer') %>